<html>
    <head>
        <h1>Notification Dashboard</h1>
    </head>

    <body>

        {% if output == 1 %}
            <p style="margin-left: 25px;"> 
                Notifications for <b>{{member}}</b> are as follows: 
            </p>

            <ol>
                {% for notification in notifications %}
                    <li> {{notification.message}}</li>
                {% endfor %}
            </ol>
        {% elif output == 2 %}
            <p> 
                There are no notifcations for <b>{{member}}</b> currently 
            </p>
        {% elif output == 3 %}
            <p> 
                A member with the name <b>{{member}}</b> does not exist 
            </p>
        {% endif %}

    </body>
</html>